{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": { "version": 2, "proposals": true },
				"modules": false
			}
		],
		"@babel/preset-react",
		[
			"@babel/preset-typescript",
			{
				"allExtensions": true,
				"isTSX": true
			}
		],
		"linaria/babel"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-transform-runtime",
		"babel-plugin-transform-react-remove-prop-types",
		"babel-plugin-react-require"
	]
}
